# Build output
bin/
obj/
/packages/
publish/

# JetBrains Rider
riderModule.iml
/_ReSharper.Caches/
.idea/
*.DotSettings.user

# Visual Studio
*.user
*.suo
*.userosscache
*.sln.docstates

# Node
node_modules/
dist/

# Terraform state (sensitive)
*.tfstate
*.tfstate.backup
