name: Docker

on:
  schedule:
    - cron: '38 19 * * *'
  push:
    branches: [ "main" ]
    tags: [ 'v*.*.*' ]
  pull_request:
    branches: [ "main" ]

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}
  COMMIT_HASH: ${{ github.sha }}

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      id-token: write

    strategy:
      matrix:
        image:
          - name: samo-bot
            dockerfile: src/SamoBot/Dockerfile
          - name: samobot-crawler
            dockerfile: src/Samobot.Crawler/Dockerfile
          - name: samobot-migrations
            dockerfile: src/SamoBot.Migrations/Dockerfile
          - name: samo-bot-scheduler
            dockerfile: src/SamoBot.Scheduler/Dockerfile
          - name: samo-bot-parser
            dockerfile: src/SamoBot.Parser/Dockerfile

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      # Install the cosign tool except on PR
      # https://github.com/sigstore/cosign-installer
      - name: Install cosign
        if: github.event_name != 'pull_request'
        uses: sigstore/cosign-installer@59acb6260d9c0ba8f4a2f9d9b48431a222b68e20 #v3.5.0
        with:
          cosign-release: 'v2.2.4'
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@f95db51fddba0c2d1ec667646a06c2ce06100226 # v3.0.0
      - name: Log into registry ${{ env.REGISTRY }}
        if: github.event_name != 'pull_request'
        uses: docker/login-action@343f7c4344506bcbf9b4de18042ae17996df046d # v3.0.0
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push Docker image - ${{ matrix.image.name }}
        id: build-and-push
        uses: docker/build-push-action@0565240e2d4ab88bba5387d719585280857ece09 # v5.0.0
        with:
          context: .
          file: ${{ matrix.image.dockerfile }}
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}/${{ matrix.image.name }}:${{ env.COMMIT_HASH }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
      - name: Sign the published Docker image - ${{ matrix.image.name }}
        if: ${{ github.event_name != 'pull_request' }}
        env:
          TAG: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}/${{ matrix.image.name }}:${{ env.COMMIT_HASH }}
          DIGEST: ${{ steps.build-and-push.outputs.digest }}
        run: cosign sign --yes ${TAG}@${DIGEST}
